<div class="container  admin">
<h1>Staff Schedule</h1>
<h3>This Week's Schedule</h3>
<form action="/days" method="get">
<table class="weekdays">
<tr>
  <th>Mon</th>
  <th>Tue</th>  
  <th>Wed</th>  
  <th>Thu</th>
  <th>Fri</th>
  <th>Sat</th>
  <th>Sun</th>
</tr>
<tr>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
</tr>
  </table>
  </form>
  <form action="/reset" method="post">
  <button type="submit">Clear Schedule</button>
  </form>
</div>
