<div class="container">

<div class="blank">
    <h1 id="heading">Welcome To Bonnita's Scheduling System</h1>
<div class="designation">

<div class="img">
    <img src="waiter.png" alt="waiter image"/>
</div>
   </div>
   <div id="buttons">
   <form action="/adminNavigate" method="get">
<button type="submit">Admin</button>
</form>
   <form action="/waiterNavigate" method="get">
<button type="submit">Waiter</button>
</form>
</div>
</div>
