<div class="container">

<div class="blank">
    <h1 id="heading">Welcome To Bonnita's Scheduling System</h1>
<div class="designation">
<div class="img">
    <img src="waiter.png" alt="waiter image"/>
</div>
    <div class="desButtons">
    <form action="/admin" method="post">
 
    </form>  
    <form action="/waiters" method="post"> 
     
    </form>
    </div>
    </div>
</div>
</div>
