<div class="container">
    <h1 id="heading">Welcome To Bonnita's Scheduling System</h1>
<div class="designation">
    <h3>I am:</h3>
    <div class="desButtons">
    <form action="/admin" method="post">
      <button type="submit">Admin</button>
    </form>  
    <form action="/waiters" method="post"> 
      <button type="submit">Waiter</button>
    </form>
    </div>
</div>
</div>