<div class="container">

<div class="blank">
    <h1 id="heading">Welcome To Bonnita's Scheduling System</h1>
<div class="designation">
<h5>Waiters: https://waiter-webapp-pl38.onrender.com/waiters/[your name]</h5>
<h5>Admin: https://waiter-webapp-pl38.onrender.com/waiters/admin</h5>

<div class="img">
    <img src="waiter.png" alt="waiter image"/>
</div>
   </div>
</div>
