<div class="container login">
<h2 id="logHead">Admin Login</h2>
<form action="/adminLogin" method="post">
<label for="name">username: </label><input type="text"   value="Admin" name="logName" disabled/><br/>
<label for="password">password: </label><input type="password"  id="password" name="password"/>
<button type="submit">login</button>
</form>
</div>
