<div class="container waiters">
<h1>Select Shift Days</h1>
<form action="/waiters"  method="post">
<div class="checkbox">
<input type ="checkbox" value="Monday" id="Mon"/><label for="Mon">Monday</label><br>
<input type ="checkbox" value="Tuesday" id="Tues"/><label for="Tues">Tuesday</label><br>
<input type ="checkbox" value="Wednesday" id="Wed"/><label for="Wed">Wednesday</label><br>
<input type ="checkbox" value="Thursday" id="Thurs"/><label for="Thurs">Thursday</label><br>
<input type ="checkbox" value="Friday" id="Fri"/><label for="Fri">Friday</label><br>
<input type ="checkbox" value="Saturday" id="Sat"/><label for="Sat">Saturday</label><br>
<input type ="checkbox" value="Sunday" id="Sun"/><label for="Sun">Sunday</label><br>
</div>
<button type="submit">Submit</button>
</form>
  </div>
