<div class="container waiters">
<h1>Select Shift Days</h1>  
<h5 class="error">{{messages.error}}</h5>
<h5 class="success">{{messages.success}}</h5>
<form action="/waiters" method="post">
<div class="checkbox">
<input type ="checkbox" value="1" id="Mon" name="day"/><label for="Mon">Monday</label><br>
<input type ="checkbox" value="2" id="Tues"  name="day"/><label for="Tues">Tuesday</label><br>
<input type ="checkbox" value="3" id="Wed" name="day" /><label for="Wed">Wednesday</label><br>
<input type ="checkbox" value="4" id="Thurs" name="day"/><label for="Thurs">Thursday</label><br>
<input type ="checkbox" value="5" id="Fri" name="day"/><label for="Fri">Friday</label><br>
<input type ="checkbox" value="6" id="Sat" name="day"/><label for="Sat">Saturday</label><br>
<input type ="checkbox" value="7" id="Sun" name="day"/><label for="Sun">Sunday</label><br>
</div>

<button type="submit">Update</button>
</form>
</div>
